*, ::before, ::after {
      box-sizing: border-box;
}

body {
      background-color: wheat;
}

.container {
      font-family: Avenir, Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-align: center;
      color: #000;
      max-width: 1230px;
      padding: 0 15px;
      margin: 0 auto;
}

.container h1 {
      color: rgb(243, 81, 52);
      margin: 0;
      padding-top: 40px;
      font-size: 48px;
}

#input-wrap {
      align-items: center;
      display: flex;
      justify-content: center;
}

.row .col.s6 {
      margin-left: 0px;
}